<!-- modal  callback-->
<div class='modal modal_demo_course' id='callback'>
    <div class='modal_content'>
        <div class='title_modal'>
            <h3>Заказать звонок</h3>
            <p>Заполните, пожалуйста, форму, и мы вам перезвоним</p>
        </div>
        <form method='get'>
            <input type='hidden' name='form_subject' value='Заказать звонок' />
            <div class='form_group'>
                <input type='text' class='form_input' name='Имя' required='' placeholder='Имя Фамилия' />
                <i class='zmdi zmdi-account'></i>
                <span>Введите Имя и Фамилию</span>
            </div>
            <div class='form_group'>
                <input type='tel' class='form_input' name='Телефон' required='' placeholder='Телефон' />
                <i class='zmdi zmdi-phone'></i>
                <span>Введите телефон</span>
            </div>
            <button class='btn_st btn_st_form'>отправить</button>
        </form>
    </div>
</div>
<!-- modal  thanks-->
<div class='modal modal_demo_course' id='thanks'>
    <div class='modal_content'>
        <div class='title_modal'>
            <h3>Сообщение отправлено!</h3>
            <p>Мы свяжемся с Вами.</p>
        </div>
    </div>
</div>