<footer>
    <div class='footer_top'>
        <div class='container'>
            <div class='footer_top_content'>
                <ul class='contact_footer'>
                    <li>
                        <span><i class='zmdi zmdi-phone'></i></span>
                        <a href='tel:+79500000000'>+7 (950) <strong>000-00-00</strong></a>
                    </li>
                    <li>
                        <span><i class='zmdi zmdi-email'></i></span>
                        <a href='mailto:info@'>info@</a>
                    </li>
                    <li>
                        <span><i class='zmdi zmdi-pin'></i></span>
                        <a href='https://maps.app.goo.gl/J3vsaDC9ZJSovBek9' target='_blank'>г. Воронеж,<br />Проспект Революции дом 19</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class='container'>
        <div class='footer_bot'>
            <nav class='navigation'>
                <ul>
                    <li><a href='/blog'>Наш Блог</a></li>
                    <li><a href='/courses'>Наши Курсы</a></li>
                    <li><a href='/magazines'>Наши Журналы</a></li>
                    <li><a href='/contacts'>Контакты</a></li>
                </ul>
            </nav>
            <p>© Воронежский государственный университет инженерных технологий 2025<br />Студент: Кулачихин Руслан Михайлович</p>
            <p></p>
        </div>
    </div>
</footer>