<div id='ContentPanelContainer_ph' class='content'>
    <section class='section1_in'>
        <div class='container'>
            <ul class='breadcrumbs'>
                <li><a href='/'>Главная</a></li>
                <li>Портфолио</li>
            </ul>
            <div class='section1_in_content'>
                <div class='section1_in_title'>
                    <h1><span>Наши журналы</span></h1>
                    <p>Насладайтесь живым английским в каждом выпуске нашего журнала</p>
                </div>
            </div>
        </div>
    </section>
    <section class='section_filer' style="background: url('../img/bg/bg_filter_section.jpg') no-repeat bottom center; background-size: cover">
        <div class='container'>
            <div class='filter_block_list filter_column' data-aos='fade-up' data-aos-delay='200' style='display: none'>
                <div class='filter_column_item'>
                    <div class='wrap_label'>
                        <h5>Вид услуги</h5>
                        <label>
                            <input type='radio' name='service' class='st_radio' checked='checked' data-target='target_1' />
                            <span></span>
                            <i>Любой</i>
                        </label>
                        <label>
                            <input type='radio' name='service' class='st_radio' data-target='target_2' />
                            <span></span>
                            <i>Электронный курс</i>
                        </label>
                        <label>
                            <input type='radio' name='service' class='st_radio' data-target='target_3' />
                            <span></span>
                            <i> Видеоролик</i>
                        </label>
                        <label>
                            <input type='radio' name='service' class='st_radio' data-target='target_4' />
                            <span></span>
                            <i> Тренажер ПО</i>
                        </label>
                    </div>
                </div>
                <div class='filter_column_item'>
                    <div class='wrap_label'>
                        <h5>Характеристики курса</h5>
                        <div class='label_list' data-target='target_2'>
                            <label>
                                <input type='checkbox' name='Cлайдовый' class='st_checkbox' checked='checked' />
                                <span></span>
                                <i>Cлайдовый</i>
                            </label>
                            <label>
                                <input type='checkbox' name='Cюжетный' class='st_checkbox' />
                                <span></span>
                                <i> Cюжетный</i>
                            </label>
                            <label>
                                <input type='checkbox' name='Cюжетный' class='st_checkbox' />
                                <span></span>
                                <i> Игровой</i>
                            </label>
                        </div>
                        <div class='label_list' data-target='target_3'>
                            <label>
                                <input type='checkbox' name='Интерактивный' class='st_checkbox' checked='checked' />
                                <span></span>
                                <i>Интерактивный</i>
                            </label>
                            <label>
                                <input type='checkbox' name='Имиджевый' class='st_checkbox' />
                                <span></span>
                                <i> Имиджевый</i>
                            </label>
                            <label>
                                <input type='checkbox' name='Сюжетный' class='st_checkbox' />
                                <span></span>
                                <i> Сюжетный</i>
                            </label>
                            <label>
                                <input type='checkbox' name='Анимационный' class='st_checkbox' />
                                <span></span>
                                <i>Анимационный</i>
                            </label>
                            <label>
                                <input type='checkbox' name='«Говорящая голова»' class='st_checkbox' />
                                <span></span>
                                <i>«Говорящая голова»</i>
                            </label>
                        </div>
                    </div>
                </div>
                <div class='filter_column_item'>
                    <div class='text_filter'>
                        <i class='zmdi zmdi-info'></i>
                        <p>
                            <strong>Обратите внимание:</strong>
                            на сайте
                            <br />
                            представлены лишь некоторые
                            <br />
                            наши проекты.
                        </p>
                    </div>
                </div>
            </div>
            <div class='course_list portfolio_list' data-aos='flip-down' data-aos-delay='0'>
                <div class='course_item'>
                    <div class='course_item_img'>
                        <img src='../img/dc/fotokataliticheskij-metod-poluchenija-vodoroda/01.jpg' id='ContentPanelContainer_ctl00_RepeaterCourseID_ImageRef_0' />
                    </div>
                    <div class='course_item_title'>
                        <p>Электронный курс</p>
                        <h5>Мост между прошлым и будущим: Фотокаталитический метод получения водорода</h5>
                    </div>
                    <a href='#' class='btn_st' style='display: none'>
                        подробнее
                        <span></span>
                    </a>
                </div>

                <div class='course_item'>
                    <div class='course_item_img'>
                        <img src='../img/dc/fotokataliticheskij-metod-poluchenija-vodoroda/01.jpg' id='ContentPanelContainer_ctl00_RepeaterCourseID_ImageRef_0' />
                    </div>
                    <div class='course_item_title'>
                        <p>Электронный курс</p>
                        <h5>Мост между прошлым и будущим: Фотокаталитический метод получения водорода</h5>
                    </div>
                    <a href='#' class='btn_st' style='display: none'>
                        подробнее
                        <span></span>
                    </a>
                </div>

                <div class='course_item'>
                    <div class='course_item_img'>
                        <img src='../img/dc/fotokataliticheskij-metod-poluchenija-vodoroda/01.jpg' id='ContentPanelContainer_ctl00_RepeaterCourseID_ImageRef_0' />
                    </div>
                    <div class='course_item_title'>
                        <p>Электронный курс</p>
                        <h5>Мост между прошлым и будущим: Фотокаталитический метод получения водорода</h5>
                    </div>
                    <a href='#' class='btn_st' style='display: none'>
                        подробнее
                        <span></span>
                    </a>
                </div>

                <div class='course_item'>
                    <div class='course_item_img'>
                        <img src='../img/dc/fotokataliticheskij-metod-poluchenija-vodoroda/01.jpg' id='ContentPanelContainer_ctl00_RepeaterCourseID_ImageRef_0' />
                    </div>
                    <div class='course_item_title'>
                        <p>Электронный курс</p>
                        <h5>Мост между прошлым и будущим: Фотокаталитический метод получения водорода</h5>
                    </div>
                    <a href='#' class='btn_st' style='display: none'>
                        подробнее
                        <span></span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class='section_form overlay pad_section' style="background: url('../img/bg/bg_section_form-1.jpg') no-repeat top center; background-size: cover">
        <div class='container'>
            <div class='choice_block' data-aos='fade-up' data-aos-delay='200'>
                <div class='title_section white'>
                    <h2>Обсудить обчение</h2>
                    <p>Отправьте нам свои контакты, и мы свяжемся с Вами</p>
                </div>
                <div class='wrap_form'>
                    <form method='post'>
                        <input type='hidden' name='project_name' value='OOT' />
                        <input type='hidden' name='form_subject' value='Обсудить' />
                        <div class='wrap_form_group'>
                            <div class='form_group'>
                                <input type='text' class='form_input' name='Имя' required='' placeholder='Имя Фамилия' />
                                <i class='zmdi zmdi-account'></i>
                                <span>Введите Имя и Фамилию</span>
                            </div>
                            <div class='form_group'>
                                <input type='email' class='form_input' name='E-mail' required='' placeholder='E-mail' />
                                <i class='zmdi zmdi-email'></i>
                                <span>Введите Email</span>
                            </div>
                            <div class='form_group'>
                                <input type='tel' class='form_input' name='Телефон' required='' placeholder='Телефон' />
                                <i class='zmdi zmdi-phone'></i>
                                <span>Введите телефон</span>
                            </div>
                        </div>
                        <button type='submit' class='btn_st btn_st_form dark'>отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- modal  dev_course-->
    <div class='modal modal_demo_course' id='dev_course'>
        <div class='modal_content'>
            <div class='title_modal'>
                <h3>Разработать курс</h3>
                <p>Заполните, пожалуйста форму</p>
            </div>
            <form method='POST'>
                <input type='hidden' name='project_name' value='OOT' />
                <input type='hidden' name='form_subject' value='уникальный курс' />
                <div class='form_group'>
                    <input type='text' class='form_input' name='Компания' required='' placeholder='Компания' />
                    <i class='zmdi zmdi-info'></i>
                    <span>Введите название Компании</span>
                </div>
                <div class='form_group'>
                    <input type='text' class='form_input' name='Имя' required='' placeholder='Имя Фамилия' />
                    <i class='zmdi zmdi-account'></i>
                    <span>Введите Имя и Фамилию</span>
                </div>
                <div class='form_group'>
                    <input type='email' class='form_input' name='E-mail' required='' placeholder='E-mail' />
                    <i class='zmdi zmdi-email'></i>
                    <span>Введите Email</span>
                </div>
                <div class='form_group'>
                    <input type='tel' class='form_input' name='Телефон' required='' placeholder='Телефон' />
                    <i class='zmdi zmdi-phone'></i>
                    <span>Введите телефон</span>
                </div>
                <div class='form_group'>
                    <textarea class='form_input' placeholder='Комментарий' name='Комментарий'></textarea>
                    <i class='zmdi zmdi-help'></i>
                </div>
                <button class='btn_st btn_st_form'>отправить</button>
            </form>
        </div>
    </div>
    <!-- modal  demo-course-->
    <div class='modal modal_demo_course' id='demo_course'>
        <div class='modal_content'>
            <div class='title_modal'>
                <h3>Запрос демо-курса</h3>
                <p>
                    Заполните, пожалуйста, форму, и мы вам вышлем
                    <br />
                    демо-курс обратным письмом
                </p>
            </div>
            <form method='POST'>
                <input type='hidden' name='project_name' value='OOT' />
                <input type='hidden' name='form_subject' value='демо-курс' />
                <input type='hidden' name='Демо курс' class='demo_input' value='' />
                <div class='form_group'>
                    <input type='text' class='form_input' name='Компания' required='' placeholder='Компания' />
                    <i class='zmdi zmdi-info'></i>
                    <span>Введите название Компании</span>
                </div>
                <div class='form_group'>
                    <input type='text' class='form_input' name='Имя' required='' placeholder='Имя Фамилия' />
                    <i class='zmdi zmdi-account'></i>
                    <span>Введите Имя и Фамилию</span>
                </div>
                <div class='form_group'>
                    <input type='email' class='form_input' name='E-mail' required='' placeholder='E-mail' />
                    <i class='zmdi zmdi-email'></i>
                    <span>Введите Email</span>
                </div>
                <div class='form_group'>
                    <input type='tel' class='form_input' name='Телефон' required='' placeholder='Телефон' />
                    <i class='zmdi zmdi-phone'></i>
                    <span>Введите телефон</span>
                </div>
                <button class='btn_st btn_st_form'>отправить</button>
            </form>
        </div>
    </div>
</div>