<div id='ContentPanelContainer_ph' class='content'>
    <section class='section1_in'>
        <div class='container'>
            <ul class='breadcrumbs'>
                <li><a href='/'>Главная</a></li>
                <li>Услуги</li>
            </ul>
           
        
    {{!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  }}

    <div class='widget-area  '>
        <aside id='search-2' class='widget widget_search'>
            <div class='section1_in_title' style="margin-bottom: -15px ;">
                <h1><span>Наш Блог</span></h1>
            </div>
            
            {{!-- <h3 class='widget-title'>Поиск по блогу</h3> --}}
            <div class='header-search'>
                <form method='get' id='177' class='searchform' action='https://englishmag.ru/ru/'>
                    <div class='input-group'>
                        <input type='text' name='s' id='s-177' placeholder='Search...' class='form-control' required='' />
                            <button class='input-group-btn btn btn-secondary btn_st ' type='submit'>Найти </button>
                    </div>
                </form>
            </div>
            <h3 class='widget-title'>Новостные категории</h3>
            <ul class='news_category'>
                <li class="btn_st news_category-active">Политика</li>
                <li class="btn_st">Экономика</li>
                <li class="btn_st">Спорт</li>
                <li class="btn_st">Культура</li>
                <li class="btn_st">Технологии</li>
                <li class="btn_st">Шоу бизнес</li>
                <li class="btn_st">Релиозные</li>
            </ul>
        
            <select class="news_category-mobile"  id="pet-select">
            <option value="btn_st">--Выберете категорию:--</option>
            <option value="btn_st">Политика</option>
            <option value="btn_st">Экономика</option>
            <option value="btn_st">Спорт</option>
            <option value="btn_st">Технологии</option>
            <option value="btn_st">Шоу бизнес</option>
            <option value="btn_st">Релиозные</option>
            </select>
            
                </div>
            </div>
        </aside>
    </div>
    </section>
    {{! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! }}
    <section class='pad_section' style="background: #f5f5f5 url('img/bg/bg_section_2.jpg') no-repeat bottom center">

        <div class='container'>

            <div class='wrap_service_item'>

                <a href='/library-blog' class=''>
                <div class='service_item' data-aos='zoom-in-up' data-aos-delay='200'>
                    <div class='service_flex_item'>
                        <div class='service_item_text'>
                            <h2>Электронные курсы</h2>
                            <div class='text_group'>
                                <p>Разработка электронных курсов для корпоративного обучения – это создание структурированного учебного контента в интерактивной и увлекательной форме, рассчитанного на самостоятельную работу пользователя без участия тренера или наставника.</p>
                                <p>Результат нашей работы – яркие, динамичные интерактивные курсы, которые обучают, развивают и просто нравятся вашим сотрудникам.</p>
                            </div>
                        </div>
                        <div class='service_item_img'>
                            <img src='../img/course_img.jpg' alt='' />
                        </div>
                    </div>
                   
                </div>
                </a>


                <div class='service_item' data-aos='zoom-in-up' data-aos-delay='400'>
                    <div class='service_flex_item'>
                        <div class='service_item_text'>
                            <h2>Видеоролики</h2>
                            <div class='text_group'>
                                <p>Интересные и динамичные видеокурсы рассчитаны на визуальный и слуховой каналы восприятия информации человеком.</p>
                                <p>Наши видеокурсы, следуя целям обучения, подают демонстрационные материалы коротко и концентрированно, а главное — эффективно.</p>
                            </div>
                        </div>
                        <div class='service_item_img'>
                            <img src='../img/course_img.jpg' alt='' />
                        </div>
                    </div>
                    <ul class='service_item_list'>
                        <li>
                            <img src='../img/service_item_ico/service_item_ico5.svg' alt='' />
                            <p>Обучающие</p>
                        </li>
                        <li>
                            <img src='../img/service_item_ico/service_item_ico6.svg' alt='' />
                            <p>Имиджевые</p>
                        </li>
                        <li>
                            <img src='../img/service_item_ico/service_item_ico3.svg' alt='' />
                            <p>Интерактивные</p>
                        </li>
                        <li>
                            <img src='../img/service_item_ico/service_item_ico7.svg' alt='' />
                            <p>Анимационные</p>
                        </li>
                        <li>
                            <img src='../img/service_item_ico/service_item_ico8.svg' alt='' />
                            <p>«Говорящая голова»</p>
                        </li>
                    </ul>
                    <a href='../pages/portfolio.html' class='btn_st'>
                        смотреть примеры
                        <span></span>
                    </a>
                </div>
                <div class='service_item' data-aos='zoom-in-up' data-aos-delay='600'>
                    <div class='service_flex_item'>
                        <div class='service_item_text'>
                            <h2>Тренажеры по программным продуктам</h2>
                            <div class='text_group'>
                                <p>Особая разновидность электронных курсов — тренажеры по работе с программными продуктами, которые позволяют воссоздать интерфейс программного обеспечения, обучить работе с ним, проверить знания и скорость работы пользователей без нанесения ущерба реальным данным компании.</p>
                                <p>Наши Заказчики с удовольствием используют курсы такого рода для отработки практических навыков персонала.</p>
                            </div>
                        </div>
                        <div class='service_item_img'>
                            <img src='../img/course_img.jpg' alt='' />
                        </div>
                    </div>
                    <a href='../pages/portfolio.html' class='btn_st'>
                        смотреть примеры
                        <span></span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class='section_form overlay pad_section' style="background: url('../img/bg/bg_section_form.jpg') no-repeat top center; background-size: cover">
        <div class='container'>
            <div class='choice_block' data-aos='fade-up' data-aos-delay='200'>
                <div class='title_section white'>
                   <h2>Обсудить обчение</h2>
                    <p>Отправьте нам свои контакты, и мы свяжемся с Вами</p>
                </div>
                <div class='wrap_form'>
                    <form method='post'>
                        <input type='hidden' name='project_name' value='OOT' />
                        <input type='hidden' name='form_subject' value='Обсудить' />
                        <div class='wrap_form_group'>
                            <div class='form_group'>
                                <input type='text' class='form_input' name='Имя' required='' placeholder='Имя Фамилия' />
                                <i class='zmdi zmdi-account'></i>
                                <span>Введите Имя и Фамилию</span>
                            </div>
                            <div class='form_group'>
                                <input type='email' class='form_input' name='E-mail' required='' placeholder='E-mail' />
                                <i class='zmdi zmdi-email'></i>
                                <span>Введите Email</span>
                            </div>
                            <div class='form_group'>
                                <input type='tel' class='form_input' name='Телефон' required='' placeholder='Телефон' />
                                <i class='zmdi zmdi-phone'></i>
                                <span>Введите телефон</span>
                            </div>
                        </div>
                        <button type='submit' class='btn_st btn_st_form dark'>отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- modal  dev_course-->
    <div class='modal modal_demo_course' id='dev_course'>
        <div class='modal_content'>
            <div class='title_modal'>
                <h3>Разработать курс</h3>
                <p>Заполните, пожалуйста форму</p>
            </div>
            <form method='POST'>
                <input type='hidden' name='project_name' value='OOT' />
                <input type='hidden' name='form_subject' value='уникальный курс' />
                <div class='form_group'>
                    <input type='text' class='form_input' name='Компания' required='' placeholder='Компания' />
                    <i class='zmdi zmdi-info'></i>
                    <span>Введите название Компании</span>
                </div>
                <div class='form_group'>
                    <input type='text' class='form_input' name='Имя' required='' placeholder='Имя Фамилия' />
                    <i class='zmdi zmdi-account'></i>
                    <span>Введите Имя и Фамилию</span>
                </div>
                <div class='form_group'>
                    <input type='email' class='form_input' name='E-mail' required='' placeholder='E-mail' />
                    <i class='zmdi zmdi-email'></i>
                    <span>Введите Email</span>
                </div>
                <div class='form_group'>
                    <input type='tel' class='form_input' name='Телефон' required='' placeholder='Телефон' />
                    <i class='zmdi zmdi-phone'></i>
                    <span>Введите телефон</span>
                </div>
                <div class='form_group'>
                    <textarea class='form_input' placeholder='Комментарий' name='Комментарий'></textarea>
                    <i class='zmdi zmdi-help'></i>
                </div>
                <button class='btn_st btn_st_form'>отправить</button>
            </form>
        </div>
    </div>
    <!-- modal  demo-course-->
    <div class='modal modal_demo_course' id='demo_course'>
        <div class='modal_content'>
            <div class='title_modal'>
                <h3>Запрос демо-курса</h3>
                <p>
                    Заполните, пожалуйста, форму, и мы вам вышлем
                    <br />
                    демо-курс обратным письмом
                </p>
            </div>
            <form method='POST'>
                <input type='hidden' name='project_name' value='OOT' />
                <input type='hidden' name='form_subject' value='демо-курс' />
                <input type='hidden' name='Демо курс' class='demo_input' value='' />
                <div class='form_group'>
                    <input type='text' class='form_input' name='Компания' required='' placeholder='Компания' />
                    <i class='zmdi zmdi-info'></i>
                    <span>Введите название Компании</span>
                </div>
                <div class='form_group'>
                    <input type='text' class='form_input' name='Имя' required='' placeholder='Имя Фамилия' />
                    <i class='zmdi zmdi-account'></i>
                    <span>Введите Имя и Фамилию</span>
                </div>
                <div class='form_group'>
                    <input type='email' class='form_input' name='E-mail' required='' placeholder='E-mail' />
                    <i class='zmdi zmdi-email'></i>
                    <span>Введите Email</span>
                </div>
                <div class='form_group'>
                    <input type='tel' class='form_input' name='Телефон' required='' placeholder='Телефон' />
                    <i class='zmdi zmdi-phone'></i>
                    <span>Введите телефон</span>
                </div>
                <button class='btn_st btn_st_form'>отправить</button>
            </form>
        </div>
    </div>
</div>