<div id='ContentPanelContainer_ph' class='content'>
    <section class='section_1'>
        <div class='container' style='display: none'>
            <span class='arrow_slider arrow_prev'></span>
            <span class='arrow_slider arrow_next'></span>
        </div>
        <div class='slider_main'>
            <div class='container'>
                <div class='slider_main_content'>
                    <img class='slider_img' src='./img/application-background/neom-kXbit_yx8t4-unsplash.jpg' alt='' />
                    <div class='slider_title'>
                        <h2>
                            <br />
                            Последние новости для пользователей портала
                        </h2>
                        <p>
                            Прозрачное ценообразование и максимальная эффективность
                            <br />
                            обучения
                        </p>
                    </div>
                </div>
            </div>

            <div class='container'>
                <div class='slider_main_content'>
                    <img class='slider_img' src='./img/application-background/neom-kXbit_yx8t4-unsplash.jpg' alt='' />
                    <div class='slider_title'>
                        <h2>
                            <br />
                            Последние новости для пользователей портала
                        </h2>
                        <p>
                            Прозрачное ценообразование и максимальная эффективность
                            <br />
                            обучения
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class='section_2' style="background: url('./img/bg/bg_section_2.jpg') no-repeat bottom center; background-size: cover">
        <div class='container'>
            <ul class='list_services'>
                <li data-aos='fade-up' data-aos-delay='200'>
                    <img src='./img/services/services1.svg ' alt='' />
                    <p>Обучайтесь</p>
                </li>
                <li data-aos='fade-up' data-aos-delay='400'>
                    <img src='./img/services/services2.svg' alt='' />
                    <p>Погрузитесь в культуру языка</p>
                </li>
                <li data-aos='fade-up' data-aos-delay='600'>
                    <img src='./img/services/services3.svg' alt='' />
                    <p>Достигайте целей</p>
                </li>
                <li data-aos='fade-up' data-aos-delay='800'>
                    <img src='./img/services/services4.svg' alt='' />
                    <p>Путишествуйте</p>
                </li>
                <li data-aos='fade-up' data-aos-delay='1000'>
                    <img src='./img/services/services5.svg' alt='' />
                    <p>Общайтесь без ограничений</p>
                </li>
            </ul>
            <div class='title_section'>
                <h2>Посмотрите наши демо-курсы</h2>
            </div>
            <div class='demo_courses' data-aos='fade-up' data-aos-delay='400'>
                <div class='demo_courses_item'>
                    <div class='demo_courses_img'>
                        <img src='./img/course/Свободно общаться с иностранцами.svg' alt='' />
                    </div>
                    <div class='demo_courses_title'>
                        <p>Свободно общаться с иностранцами</p>
                        <h5>«Курс развития разговорных навыков»</h5>
                    </div>
                    <a href='/courses' class='btn_st_sm' data-fancybox=''> Подробнее </a>
                </div>
                <div class='demo_courses_item'>
                    <div class='demo_courses_img'>
                        <img src='./img/course/Комфортно чувствовать за границей.svg' alt='' />
                    </div>
                    <div class='demo_courses_title'>
                        <p>Комфортно чувствовуйте себя за границей</p>
                        <h5>«От B2 до С1 за 3 месяца»</h5>
                    </div>
                    <a href='#demo_course' class='btn_st_sm' data-fancybox=''> Подробнее </a>
                </div>
                <div class='demo_courses_item'>
                    <div class='demo_courses_img'>
                        <img src='./img/course/Смотреть фильмы.svg' alt='' />
                    </div>
                    <div class='demo_courses_title'>
                        <p>Смотрите фильмы</p>
                        <h5>«От А1 до В1 за 3 месяца»</h5>
                    </div>
                    <a href='#demo_course' class='btn_st_sm' data-fancybox=''> Подробнее </a>
                </div>
                <div class='demo_courses_item'>
                    <div class='demo_courses_img'>
                        <img src='./img/course/Проходить собеседования.svg' alt='' />
                    </div>
                    <div class='demo_courses_title'>
                        <p>Проходите собеседования</p>
                        <h5>«Курс технического английского»</h5>
                    </div>
                    <a href='#demo_course' class='btn_st_sm' data-fancybox=''> Подробнее </a>
                </div>
            </div>
        </div>
    </section>
    <section class='section_3' style="background: url('./img/bg/bg_section_3.jpg') no-repeat top center; background-size: cover">
        <div class='container'>
            <div class='title_section'>
                <h2>Наши Журналы</h2>
            </div>

            <div class='clientage_slider yellow' data-aos='fade-up'>
                <div class='demo_courses_item'>
                    <div class='clientage_ico'>
                        <img src='./img/journals/bqwdAHvfVK8.jpg' alt='' />
                    </div>
                    <div class='demo_journals_title'>
                        <h5>«EnglishMag 1Q/2020 Issue — Online version»</h5>
                        <p>От: 25.06.2024</p>
                    </div>
                    <a href='/library-magazines' class='btn_st_sm' data-fancybox=''>Купить</a>
                </div>

                <div class='demo_courses_item'>
                    <div class='clientage_ico'>
                        <img src='./img/journals/bqwdAHvfVK8.jpg' alt='' />
                    </div>
                    <div class='demo_journals_title'>
                        <h5>«EnglishMag 1Q/2020 Issue — Online version»</h5>
                        <p>От: 25.06.2024</p>
                    </div>
                    <a href='#demo_course' class='btn_st_sm' data-fancybox=''>Купить</a>
                </div>

                <div class='demo_courses_item'>
                    <div class='clientage_ico'>
                        <img src='./img/journals/bqwdAHvfVK8.jpg' alt='' />
                    </div>
                    <div class='demo_journals_title'>
                        <h5>«EnglishMag 1Q/2020 Issue — Online version»</h5>
                        <p>От: 25.06.2024</p>
                    </div>
                    <a href='#demo_course' class='btn_st_sm' data-fancybox=''>Купить</a>
                </div>

                <div class='demo_courses_item'>
                    <div class='clientage_ico'>
                        <img src='./img/journals/bqwdAHvfVK8.jpg' alt='' />
                    </div>
                    <div class='demo_journals_title'>
                        <h5>«EnglishMag 1Q/2020 Issue — Online version»</h5>
                        <p>От: 25.06.2024</p>
                    </div>
                    <a href='#demo_course' class='btn_st_sm' data-fancybox=''>Купить</a>
                </div>

                <div class='demo_courses_item'>
                    <div class='clientage_ico'>
                        <img src='./img/journals/bqwdAHvfVK8.jpg' alt='' />
                    </div>
                    <div class='demo_journals_title'>
                        <h5>«EnglishMag 1Q/2020 Issue — Online version»</h5>
                        <p>От: 25.06.2024</p>
                    </div>
                    <a href='#demo_course' class='btn_st_sm' data-fancybox=''>Купить</a>
                </div>

                <div class='demo_courses_item'>
                    <div class='clientage_ico'>
                        <img src='./img/journals/bqwdAHvfVK8.jpg' alt='' />
                    </div>
                    <div class='demo_journals_title'>
                        <h5>«EnglishMag 1Q/2020 Issue — Online version»</h5>
                        <p>От: 25.06.2024</p>
                    </div>
                    <a href='#demo_course' class='btn_st_sm' data-fancybox=''>Купить</a>
                </div>

                <div class='demo_courses_item'>
                    <div class='clientage_ico'>
                        <img src='./img/journals/bqwdAHvfVK8.jpg' alt='' />
                    </div>
                    <div class='demo_journals_title'>
                        <h5>«EnglishMag 1Q/2020 Issue — Online version»</h5>
                        <p>От: 25.06.2024</p>
                    </div>
                    <a href='#demo_course' class='btn_st_sm' data-fancybox=''>Купить</a>
                </div>

                <div class='demo_courses_item'>
                    <div class='clientage_ico'>
                        <img src='./img/journals/bqwdAHvfVK8.jpg' alt='' />
                    </div>
                    <div class='demo_journals_title'>
                        <h5>«EnglishMag 1Q/2020 Issue — Online version»</h5>
                        <p>От: 25.06.2024</p>
                    </div>
                    <a href='#demo_course' class='btn_st_sm' data-fancybox=''>Купить</a>
                </div>

                <div class='demo_courses_item'>
                    <div class='clientage_ico'>
                        <img src='./img/journals/bqwdAHvfVK8.jpg' alt='' />
                    </div>
                    <div class='demo_journals_title'>
                        <h5>«EnglishMag 1Q/2020 Issue — Online version»</h5>
                        <p>От: 25.06.2024</p>
                    </div>
                    <a href='#demo_course' class='btn_st_sm' data-fancybox=''>Купить</a>
                </div>

                <div class='demo_courses_item'>
                    <div class='clientage_ico'>
                        <img src='./img/journals/bqwdAHvfVK8.jpg' alt='' />
                    </div>
                    <div class='demo_journals_title'>
                        <h5>«EnglishMag 1Q/2020 Issue — Online version»</h5>
                        <p>От: 25.06.2024</p>
                    </div>
                    <a href='#demo_course' class='btn_st_sm' data-fancybox=''>Купить</a>
                </div>
            </div>
        </div>
    </section>
    <section class='section_4 overlay' style="background: url('./img/bg/bg_section_4.jpg') no-repeat top center; background-size: cover">
        <div class='container'>
            <div class='choice_block'>
                <div class='title_section white'>
                    <h2>Что вы выберете?</h2>
                </div>
                <ul class='choice_list aos-init aos-animate' data-aos='fade-up' data-aos-delay='200'>
                    <li>
                        <p>Готовый курс из нашей библиотеки</p>
                        <a href='/library' class='btn_st dark'>
                            перейти в библиотеку
                            <span></span>
                        </a>
                    </li>
                    <li>
                        <span>или</span>
                    </li>
                    <li>
                        <a href='#demo_course2' class='btn_st green dark' data-fancybox=''>
                            Узнать последние новости
                            <img src='img/rocket.png' alt='' />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <form method='POST'></form>

    <!-- modal  demo-course-->
    <div class='modal modal_demo_course' id='demo_course2'>
        <div class='modal_content'>
            <div class='title_modal'>
                <h3>Для обратной связи</h3>
                <p>Заполните, пожалуйста, форму</p>
            </div>
            <form method='POST'>
                <input type='hidden' name='form_subject' value='Разработать уникальный курс' />
                <input type='hidden' name='Демо курс' class='demo_input' value='' />
                <div class='form_group'>
                    <input type='text' class='form_input' name='Компания' required='' placeholder='Компания' />
                    <i class='zmdi zmdi-info'></i>
                    <span>Введите название Компании</span>
                </div>
                <div class='form_group'>
                    <input type='text' class='form_input' name='Имя' required='' placeholder='Имя Фамилия' />
                    <i class='zmdi zmdi-account'></i>
                    <span>Введите Имя и Фамилию</span>
                </div>
                <div class='form_group'>
                    <input type='email' class='form_input' name='E-mail' required='' placeholder='E-mail' />
                    <i class='zmdi zmdi-email'></i>
                    <span>Введите Email</span>
                </div>
                <div class='form_group'>
                    <input type='tel' class='form_input' name='Телефон' required='' placeholder='Телефон' />
                    <i class='zmdi zmdi-phone'></i>
                    <span>Введите телефон</span>
                </div>
                <div class='form_group'>
                    <textarea class='form_input' placeholder='Комментарий' name='Комментарий'></textarea>
                    <i class='zmdi zmdi-help'></i>
                </div>
                <button class='btn_st btn_st_form'>отправить</button>
            </form>
        </div>
    </div>

    <!-- modal  demo-course-->
    <div class='modal modal_demo_course' id='demo_course'>
        <div class='modal_content'>
            <div class='title_modal'>
                <h3>Запрос демо-курса</h3>
                <p>
                    Заполните, пожалуйста, форму, и мы вам вышлем
                    <br />
                    демо-курс обратным письмом
                </p>
            </div>
            <form method='POST'>
                <input type='hidden' name='form_subject' value='Демо-курс с главной страницы' />
                <input type='hidden' name='Демо курс' class='demo_input' value='' />
                <div class='form_group'>
                    <input type='text' class='form_input' name='Компания' required='' placeholder='Компания' />
                    <i class='zmdi zmdi-info'></i>
                    <span>Введите название Компании</span>
                </div>
                <div class='form_group'>
                    <input type='text' class='form_input' name='Имя' required='' placeholder='Имя Фамилия' />
                    <i class='zmdi zmdi-account'></i>
                    <span>Введите Имя и Фамилию</span>
                </div>
                <div class='form_group'>
                    <input type='email' class='form_input' name='E-mail' required='' placeholder='E-mail' />
                    <i class='zmdi zmdi-email'></i>
                    <span>Введите Email</span>
                </div>
                <div class='form_group'>
                    <input type='tel' class='form_input' name='Телефон' required='' placeholder='Телефон' />
                    <i class='zmdi zmdi-phone'></i>
                    <span>Введите телефон</span>
                </div>
                <button class='btn_st btn_st_form'>отправить</button>
            </form>
        </div>
    </div>
</div>