
<div id='ContentPanelContainer_ph' class='content'>
    <section class='section1_in'>
        <div class='container'>
            <ul class='breadcrumbs'>
                <li><a href='/'>Главная</a></li>
                <li>Готовые SCORM-курсы</li>
            </ul>
            <div class='section1_in_content'>
                <div class='section1_in_title'>
                    <h1><span>How is the Holy Fire descending the day before Easter?</span></h1>
                </div>
                <p>Why is it not burning? How the fire can descend by itself? Scientific explanation and facts</p>
                <br />
                <p>2025/04/19</p>
            </div>
        </div>
    </section>

 <div class='container'>
 
    <dev class='pad_section entry-content'>
 
        <figure class='article_decoration' data-type='101' data-mode='0' data-done='1'>
                    <img decoding='async' class='article_object_sizer_inner lazyloaded' src='https://sun9-5.userapi.com/impg/hCkLhzzpcbhLA2uokEgTk162J2v76ctGuiuqCw/nbXbWoeCW_A.jpg?size=807x454&amp;quality=95&amp;sign=876748fac5be039bf52e3c5d345e8313&amp;type=album' alt='' data-baseurl='' data-ll-status='loaded' />
                    <h3 class='article_figure_sizer'>How does the Holy Fire come about?</h3>
        </figure>
        <p class='text_group'>The process of occurrence of flame tongues deserves special attention. About 10 o’clock in the morning on the Holy Saturday, the day before Orthodox Easter (this year Orthodox and Catholic Easter is celebrated the same day on 20 April 2025) the religious procession begins to move towards the Jerusalem Orthodox Church, headed by the Patriarch and the higher clergy. After they come close to Kuvuklia (the chapel of the Holy Sepulcher), the events begin to develop as follows:</p>
        <ol class='text_group' start='1'>
            <li class='article-list__item'>That the believers did not have doubts as to where the Blessed Fire originates from, the Patriarch reveals himself and remains in one white sub-figure, under which nothing can be carried.</li>
            <li class='article-list__item'>He is examined by representatives of the police of Turkey and Israel by tradition, which has existed since the 14th century.</li>
            <li class='article-list__item'>Toward the entrance to the Cusculos, the Patriarch is approaching along with similar ranks from the Armenian, Coptic and Syrian apostolic churches. They will see the Blessed Fire first after the Patriarch.</li>
            <li class='article-list__item'>The doors of the chapel are closed, and the faithful remain waiting for a miracle outside the door</li>
        </ol>

         <figure class='article_decoration' data-type='101' data-mode='0' data-done='1'>
                    <img decoding='async' class='article_object_sizer_inner lazyloaded' src='https://sun9-5.userapi.com/impg/hCkLhzzpcbhLA2uokEgTk162J2v76ctGuiuqCw/nbXbWoeCW_A.jpg?size=807x454&amp;quality=95&amp;sign=876748fac5be039bf52e3c5d345e8313&amp;type=album' alt='' data-baseurl='' data-ll-status='loaded' />
                    <h3 class='article_figure_sizer'>How does the Holy Fire come about?</h3>
        </figure>
        
    <p class="text_group">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora molestias ullam doloribus? Omnis fugit sit placeat ad obcaecati necessitatibus iusto odit, doloribus aliquid ullam minus eos quo magnam adipisci accusamus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore cupiditate quam beatae nemo nam suscipit unde alias earum magni nulla blanditiis sapiente iste quos illo perferendis nihil, a doloribus! Consequuntur.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga maiores ipsam fugiat perspiciatis repudiandae cumque, architecto cupiditate, quasi eos placeat facere dolor laudantium ducimus ex ad magnam, qui necessitatibus iure.Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos officia dolore, facilis dolor quos rerum modi molestiae in molestias tenetur quas deserunt reprehenderit dolorum dolorem a iusto itaque odit facere!</p>
        </div>
        </div>
    </div>
    </div>
</section>