<div id='ContentPanelContainer_ph' class='content'>
    <section class='section_desc_course' style='background: #f5f5f5'>
        <div class='container'>
            <ul class='breadcrumbs'>
                <li><a href='/'>Главная</a></li>
                <li><a href='/library'>Готовые SCORM-курсы</a></li>
                <li>Анализ и решение проблем</li>
            </ul>
            <div class='wrap_description_course'>
                <div class='description_course_img'>
                    <img src='../img/sc/air-1.jpg' id='ContentPanelContainer_ctl00_ImageRef' />
                </div>
                <div class='description_course_text'>
                    <h1>Анализ и решение проблем</h1>
                    <div class='description_column'>
                        <div class='course_info'>
                            <p class=''> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi qui aut perferendis tenetur. Atque, itaque nihil eligendi omnis aperiam neque! Ex, neque veritatis! Laudantium optio vero quas ipsam rerum asperiores!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis aliquam accusamus non doloribus dignissimos nemo repudiandae necessitatibus incidunt repellat. Mollitia enim nesciunt error quasi temporibus quis reiciendis doloremque quibusdam eius.</p>
                        </div>
                        <div class='course_technology'>
                            <p><strong>В редакции от: </strong></p>
                            <p><strong>21.05.2025</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class='text_group'></div>
            <div></div>
        </div>
    </section>
    <section class='section_download'>
        <div class='section_download_height'></div>
        <div class='section_download_fixed'>
            <div class='container'>
                <div class='section_download_content'>
                    <p>Пробная-версия журнала <span style='color: #fcda66'>«Анализ и решение проблем»</span>:</p>
                    <a href='#demo_course' data-fancybox=''> Скачать </a>
                </div>
            </div>
        </div>
    </section>

    <div id='ContentPanelContainer_ctl00_CourseTrailer' class='container' style='margin-top: 40px'>

    </div>

    <section class='curriculum_section pad_section' style='background: #fff'>
        <div class='container'>
            <div class='title_section'>
                <h2>Содержание издания</h2>
            </div>
            <div class='curriculum'>
                <div class='curriculum_item' data-aos='fade-up' data-aos-delay='200'>
                    <div class='curriculum_title'></div>
                    <ul class='curriculum_list'>
                        <li><i class='zmdi zmdi-caret-right-circle'></i> Введение</li>

                        <li><i class='zmdi zmdi-caret-right-circle'></i> Сам себе коуч</li>
                    </ul>
                </div>

                <div class='curriculum_item' data-aos='fade-up' data-aos-delay='200'>
                    <div class='curriculum_title'>РАЗДЕЛ 1. АНАЛИЗ ПРОБЛЕМ И ПОИСК ПРИЧИН</div>
                    <ul class='curriculum_list'>
                        <li><i class='zmdi zmdi-caret-right-circle'></i> Поиск причин VS борьба с последствиями</li>

                        <li><i class='zmdi zmdi-caret-right-circle'></i> 5 почему</li>

                        <li><i class='zmdi zmdi-caret-right-circle'></i> Диаграмма Исикавы («Рыбий скелет»)</li>

                        <li><i class='zmdi zmdi-caret-right-circle'></i> Диаграмма Парето</li>

                        <li><i class='zmdi zmdi-caret-right-circle'></i> Каноны Милля</li>

                        <li><i class='zmdi zmdi-caret-right-circle'></i> Сам себе коуч</li>

                        <li><i class='zmdi zmdi-caret-right-circle'></i> Проверочное задание</li>

                        <li><i class='zmdi zmdi-caret-right-circle'></i> Выводы по разделу</li>
                    </ul>
                </div>

                <div class='curriculum_item' data-aos='fade-up' data-aos-delay='200'>
                    <div class='curriculum_title'>РАЗДЕЛ 2. ПОИСК РЕШЕНИЯ ПРОБЛЕМЫ</div>
                    <ul class='curriculum_list'>
                        <li><i class='zmdi zmdi-caret-right-circle'></i> Как искать решения?</li>

                        <li><i class='zmdi zmdi-caret-right-circle'></i> Мозговой штурм (брейншторм)</li>

                        <li><i class='zmdi zmdi-caret-right-circle'></i> Метод 6-3-5 (брейнрайтинг)</li>

                        <li><i class='zmdi zmdi-caret-right-circle'></i> Дерево решений</li>

                        <li><i class='zmdi zmdi-caret-right-circle'></i> Сам себе коуч</li>

                        <li><i class='zmdi zmdi-caret-right-circle'></i> Проверочное задание</li>

                        <li><i class='zmdi zmdi-caret-right-circle'></i> Выводы по разделу</li>
                    </ul>
                </div>

                <div class='curriculum_item' data-aos='fade-up' data-aos-delay='200'>
                    <div class='curriculum_title'>РАЗДЕЛ 3. ОЦЕНКА И ВЫБОР РЕШЕНИЯ</div>
                    <ul class='curriculum_list'>
                        <li><i class='zmdi zmdi-caret-right-circle'></i> Зачем оценивать решения?</li>

                        <li><i class='zmdi zmdi-caret-right-circle'></i> 6 шляп мышления</li>

                        <li><i class='zmdi zmdi-caret-right-circle'></i> Сам себе коуч</li>

                        <li><i class='zmdi zmdi-caret-right-circle'></i> Матрица принятия решений</li>

                        <li><i class='zmdi zmdi-caret-right-circle'></i> Проверочное задание</li>

                        <li><i class='zmdi zmdi-caret-right-circle'></i> Выводы по разделу</li>
                    </ul>
                </div>

                <div class='curriculum_item' data-aos='fade-up' data-aos-delay='200'>
                    <div class='curriculum_title'>РАЗДЕЛ 4. РЕАЛИЗАЦИЯ РЕШЕНИЯ</div>
                    <ul class='curriculum_list'>
                        <li><i class='zmdi zmdi-caret-right-circle'></i> Алгоритм реализации решения</li>

                        <li><i class='zmdi zmdi-caret-right-circle'></i> Разработка плана действий</li>

                        <li><i class='zmdi zmdi-caret-right-circle'></i> Хорошо сформулированный результат</li>

                        <li><i class='zmdi zmdi-caret-right-circle'></i> Модель P.A.C.E.S.</li>

                        <li><i class='zmdi zmdi-caret-right-circle'></i> Сам себе коуч</li>

                        <li><i class='zmdi zmdi-caret-right-circle'></i> Выводы по разделу</li>
                    </ul>
                </div>

                <div class='curriculum_item' data-aos='fade-up' data-aos-delay='200'>
                    <div class='curriculum_title'>ВЫВОДЫ ПО КУРСУ</div>
                    <ul class='curriculum_list'>
                        <li><i class='zmdi zmdi-caret-right-circle'></i> Выводы по курсу</li>
                    </ul>
                </div>

                <div class='curriculum_item' data-aos='fade-up' data-aos-delay='200'>
                    <div class='curriculum_title'>ИТОГОВОЕ ТЕСТИРОВАНИЕ</div>
                    <ul class='curriculum_list'>
                        <li><i class='zmdi zmdi-caret-right-circle'></i> Итоговое тестирование</li>

                        <li><i class='zmdi zmdi-caret-right-circle'></i> Заключение</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div class='modal modal_demo_course' id='demo_course'>
        <div class='modal_content'>
            <div class='title_modal'>
                <h3>Запрос демо-курса</h3>
                <p>
                    Заполните, пожалуйста, форму, и мы вам вышлем
                    <br />
                    демо-курс обратным письмом
                </p>
            </div>
            <form method='POST'>
                <input type='hidden' name='project_name' value='OOT' />
                <input type='hidden' name='form_subject' value='демо-курс' />
                <input type='hidden' name='Демо курс' class='demo_input' value='' />
                <div class='form_group'>
                    <input type='text' class='form_input' name='Компания' required='' placeholder='Компания' />
                    <i class='zmdi zmdi-info'></i>
                    <span>Введите название Компании</span>
                </div>
                <div class='form_group'>
                    <input type='text' class='form_input' name='Имя' required='' placeholder='Имя Фамилия' />
                    <i class='zmdi zmdi-account'></i>
                    <span>Введите Имя и Фамилию</span>
                </div>
                <div class='form_group'>
                    <input type='email' class='form_input' name='E-mail' required='' placeholder='E-mail' />
                    <i class='zmdi zmdi-email'></i>
                    <span>Введите Email</span>
                </div>
                <div class='form_group'>
                    <input type='tel' class='form_input' name='Телефон' required='' placeholder='Телефон' />
                    <i class='zmdi zmdi-phone'></i>
                    <span>Введите телефон</span>
                </div>
                <button class='btn_st btn_st_form'>отправить</button>
            </form>
        </div>
    </div>
</div>