<div id='ContentPanelContainer_ph' class='content'>
    <section class='section1_in'>
        <div class='container'>
            <ul class='breadcrumbs'>
                <li><a href='/'>Главная</a></li>
                <li>Наши журналы</li>
            </ul>
            <div class='section1_in_content'>
                <div class='section1_in_title'>
                    <h1><span>Наши журналы</span></h1>
                </div>
                <p>Насладайтесь живым английским в каждом выпуске нашего журнала</p>
                <br />
            </div>
        </div>
    </section>
    <section class='section_filer' style="background: url('../img/bg/bg_filter_section-1.jpg') no-repeat bottom center; background-size: cover">
        <div class='container'>
            <div class='filter_block_list' data-aos='fade-up' data-aos-delay='200' style='display: none'>
                <label>
                    <input type='radio' name='version' class='st_radio' checked='checked' />
                    <span></span>
                    <i>Любая версия Office</i>
                </label>
                <label>
                    <input type='radio' name='version' class='st_radio' />
                    <span></span>
                    <i>Office 2010</i>
                </label>
                <label>
                    <input type='radio' name='version' class='st_radio' />
                    <span></span>
                    <i>Office 2013</i>
                </label>
                <label>
                    <input type='radio' name='version' class='st_radio' />
                    <span></span>
                    <i>Office 2016</i>
                </label>
            </div>
            <div class='course_list' data-aos='flip-down' data-aos-delay='0'>
                <div class='course_item'>
                    <div class='course_item_img'>
                        <img src='../img/sc/air.jpg' id='ContentPanelContainer_ctl00_RepeaterCourseID_ImageRef_0' />
                    </div>
                    <div class='course_item_title'>
                        <h5>Анализ и решение проблем</h5>
                        <h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta fuga inventore voluptatem illo deleniti saepe velit quas totam ipsa, molestiae possimus omnis est obcaecati dolores enim illum amet numquam ipsam!</h6>
                        <p> В редакции от 20.05.2025</p>

                    </div>

                    <a href='/library-magazines' id='ContentPanelContainer_ctl00_RepeaterCourseID_CourseHREF_0' class='btn_st'>
                        подробнее
                        <span></span>
                    </a>
                </div>

                <div class='course_item'>
                    <div class='course_item_img'>
                        <img src='../img/sc/air.jpg' id='ContentPanelContainer_ctl00_RepeaterCourseID_ImageRef_0' />
                    </div>
                    <div class='course_item_title'>
                        <h5>Анализ и решение проблем</h5>
                        <h6>Анализ и решение проблем</h6>
                        <p> В редакции от 20.05.2025</p>

                    </div>

                    <a href='/library-magazines' id='ContentPanelContainer_ctl00_RepeaterCourseID_CourseHREF_0' class='btn_st'>
                        Купить
                        <span></span>
                    </a>
                </div>

                <div class='course_item'>
                    <div class='course_item_img'>
                        <img src='../img/sc/air.jpg' id='ContentPanelContainer_ctl00_RepeaterCourseID_ImageRef_0' />
                    </div>
                    <div class='course_item_title'>
                        <h5>Анализ и решение проблем</h5>
                        <h6>Анализ и решение проблем</h6>
                        <p> В редакции от 20.05.2025</p>

                    </div>

                    <a href='/library-magazines' id='ContentPanelContainer_ctl00_RepeaterCourseID_CourseHREF_0' class='btn_st'>
                        подробнее
                        <span></span>
                    </a>
                </div>

                <div class='course_item'>
                    <div class='course_item_img'>
                        <img src='../img/sc/air.jpg' id='ContentPanelContainer_ctl00_RepeaterCourseID_ImageRef_0' />
                    </div>
                    <div class='course_item_title'>
                        <h5>Анализ и решение проблем</h5>
                    </div>
                    <ul class='course_item_info'>
                        <li>
                            <span>
                                <i class='zmdi zmdi-hourglass-alt'></i>
                            </span>
                            <p>
                                <strong>3 <sub>ч.</sub> 0 <sub>мин.</sub></strong>продолжительность<br />курса
                            </p>
                        </li>

                        <li>
                            <span>
                                <i class='zmdi zmdi-case-play'></i>
                            </span>
                            <p><strong>32</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;уроков&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                        </li>

                        <li>
                            <span>
                                <i class='zmdi zmdi-lamp'></i>
                            </span>
                            <p><strong>12</strong>интерактивных<br />упражнений</p>
                        </li>
                    </ul>
                    <a href='/library-course' id='ContentPanelContainer_ctl00_RepeaterCourseID_CourseHREF_0' class='btn_st'>
                        подробнее
                        <span></span>
                    </a>
                </div>

                <div class='course_item'>
                    <div class='course_item_img'>
                        <img src='../img/sc/air.jpg' id='ContentPanelContainer_ctl00_RepeaterCourseID_ImageRef_0' />
                    </div>
                    <div class='course_item_title'>
                        <h5>Анализ и решение проблем</h5>
                    </div>
                    <ul class='course_item_info'>
                        <li>
                            <span>
                                <i class='zmdi zmdi-hourglass-alt'></i>
                            </span>
                            <p>
                                <strong>3 <sub>ч.</sub> 0 <sub>мин.</sub></strong>продолжительность<br />курса
                            </p>
                        </li>

                        <li>
                            <span>
                                <i class='zmdi zmdi-case-play'></i>
                            </span>
                            <p><strong>32</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;уроков&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                        </li>

                        <li>
                            <span>
                                <i class='zmdi zmdi-lamp'></i>
                            </span>
                            <p><strong>12</strong>интерактивных<br />упражнений</p>
                        </li>
                    </ul>
                    <a href='/library-course' id='ContentPanelContainer_ctl00_RepeaterCourseID_CourseHREF_0' class='btn_st'>
                        подробнее
                        <span></span>
                    </a>
                </div>
                <div class='course_item'>
                    <div class='course_item_img'>
                        <img src='../img/sc/air.jpg' id='ContentPanelContainer_ctl00_RepeaterCourseID_ImageRef_0' />
                    </div>
                    <div class='course_item_title'>
                        <h5>Анализ и решение проблем</h5>
                    </div>
                    <ul class='course_item_info'>
                        <li>
                            <span>
                                <i class='zmdi zmdi-hourglass-alt'></i>
                            </span>
                            <p>
                                <strong>3 <sub>ч.</sub> 0 <sub>мин.</sub></strong>продолжительность<br />курса
                            </p>
                        </li>

                        <li>
                            <span>
                                <i class='zmdi zmdi-case-play'></i>
                            </span>
                            <p><strong>32</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;уроков&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                        </li>

                        <li>
                            <span>
                                <i class='zmdi zmdi-lamp'></i>
                            </span>
                            <p><strong>12</strong>интерактивных<br />упражнений</p>
                        </li>
                    </ul>
                    <a href='/library-course' id='ContentPanelContainer_ctl00_RepeaterCourseID_CourseHREF_0' class='btn_st'>
                        подробнее
                        <span></span>
                    </a>
                </div>
                <div class='course_item'>
                    <div class='course_item_img'>
                        <img src='../img/sc/air.jpg' id='ContentPanelContainer_ctl00_RepeaterCourseID_ImageRef_0' />
                    </div>
                    <div class='course_item_title'>
                        <h5>Анализ и решение проблем</h5>
                    </div>
                    <ul class='course_item_info'>
                        <li>
                            <span>
                                <i class='zmdi zmdi-hourglass-alt'></i>
                            </span>
                            <p>
                                <strong>3 <sub>ч.</sub> 0 <sub>мин.</sub></strong>продолжительность<br />курса
                            </p>
                        </li>

                        <li>
                            <span>
                                <i class='zmdi zmdi-case-play'></i>
                            </span>
                            <p><strong>32</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;уроков&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                        </li>

                        <li>
                            <span>
                                <i class='zmdi zmdi-lamp'></i>
                            </span>
                            <p><strong>12</strong>интерактивных<br />упражнений</p>
                        </li>
                    </ul>
                    <a href='/library-course' id='ContentPanelContainer_ctl00_RepeaterCourseID_CourseHREF_0' class='btn_st'>
                        подробнее
                        <span></span>
                    </a>
                </div>
            </div>

            <div class='pagination'>
                <ul id='ContentPanelContainer_ctl00_ucPaginatorID_PaginationBlock'>
                    <li class='active'><a href='library-1.html?page=1'>1</a></li>
                </ul>
            </div>
        </div>
    </section>
    <section class='section_form overlay pad_section' style="background: url('../img/bg/bg_section_form-2.jpg') no-repeat top center; background-size: cover">
        <div class='container'>
            <div class='choice_block' data-aos='fade-up' data-aos-delay='200'>
                <div class='title_section white'>
                    <h2>Обсудить обчение</h2>
                    <p>Отправьте нам свои контакты, и мы свяжемся с Вами</p>
                </div>
                <div class='wrap_form'>
                    <form method='post'>
                        <input type='hidden' name='project_name' value='OOT' />
                        <input type='hidden' name='form_subject' value='Обсудить' />
                        <div class='wrap_form_group'>
                            <div class='form_group'>
                                <input type='text' class='form_input' name='Имя' required='' placeholder='Имя Фамилия' />
                                <i class='zmdi zmdi-account'></i>
                                <span>Введите Имя и Фамилию</span>
                            </div>
                            <div class='form_group'>
                                <input type='email' class='form_input' name='E-mail' required='' placeholder='E-mail' />
                                <i class='zmdi zmdi-email'></i>
                                <span>Введите Email</span>
                            </div>
                            <div class='form_group'>
                                <input type='tel' class='form_input' name='Телефон' required='' placeholder='Телефон' />
                                <i class='zmdi zmdi-phone'></i>
                                <span>Введите телефон</span>
                            </div>
                        </div>
                        <button type='submit' class='btn_st btn_st_form dark'>отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- modal  dev_course-->
    <div class='modal modal_demo_course' id='dev_course'>
        <div class='modal_content'>
            <div class='title_modal'>
                <h3>Разработать курс</h3>
                <p>Заполните, пожалуйста форму</p>
            </div>
            <form method='POST'>
                <input type='hidden' name='project_name' value='OOT' />
                <input type='hidden' name='form_subject' value='уникальный курс' />
                <div class='form_group'>
                    <input type='text' class='form_input' name='Компания' required='' placeholder='Компания' />
                    <i class='zmdi zmdi-info'></i>
                    <span>Введите название Компании</span>
                </div>
                <div class='form_group'>
                    <input type='text' class='form_input' name='Имя' required='' placeholder='Имя Фамилия' />
                    <i class='zmdi zmdi-account'></i>
                    <span>Введите Имя и Фамилию</span>
                </div>
                <div class='form_group'>
                    <input type='email' class='form_input' name='E-mail' required='' placeholder='E-mail' />
                    <i class='zmdi zmdi-email'></i>
                    <span>Введите Email</span>
                </div>
                <div class='form_group'>
                    <input type='tel' class='form_input' name='Телефон' required='' placeholder='Телефон' />
                    <i class='zmdi zmdi-phone'></i>
                    <span>Введите телефон</span>
                </div>
                <div class='form_group'>
                    <textarea class='form_input' placeholder='Комментарий' name='Комментарий'></textarea>
                    <i class='zmdi zmdi-help'></i>
                </div>
                <button class='btn_st btn_st_form'>отправить</button>
            </form>
        </div>
    </div>

    <!-- modal  demo-course-->
    <div class='modal modal_demo_course' id='demo_course2'>
        <div class='modal_content'>
            <div class='title_modal'>
                <h3>Разработать курс</h3>
                <p>Заполните, пожалуйста, форму</p>
            </div>
            <form method='POST'>
                <input type='hidden' name='form_subject' value='Разработать уникальный курс' />
                <input type='hidden' name='Демо курс' class='demo_input' value='' />
                <div class='form_group'>
                    <input type='text' class='form_input' name='Компания' required='' placeholder='Компания' />
                    <i class='zmdi zmdi-info'></i>
                    <span>Введите название Компании</span>
                </div>
                <div class='form_group'>
                    <input type='text' class='form_input' name='Имя' required='' placeholder='Имя Фамилия' />
                    <i class='zmdi zmdi-account'></i>
                    <span>Введите Имя и Фамилию</span>
                </div>
                <div class='form_group'>
                    <input type='email' class='form_input' name='E-mail' required='' placeholder='E-mail' />
                    <i class='zmdi zmdi-email'></i>
                    <span>Введите Email</span>
                </div>
                <div class='form_group'>
                    <input type='tel' class='form_input' name='Телефон' required='' placeholder='Телефон' />
                    <i class='zmdi zmdi-phone'></i>
                    <span>Введите телефон</span>
                </div>
                <div class='form_group'>
                    <textarea class='form_input' placeholder='Комментарий' name='Комментарий'></textarea>
                    <i class='zmdi zmdi-help'></i>
                </div>
                <button class='btn_st btn_st_form'>отправить</button>
            </form>
        </div>
    </div>

    <!-- modal  demo-course-->
    <div class='modal modal_demo_course' id='demo_course'>
        <div class='modal_content'>
            <div class='title_modal'>
                <h3>Скачать демо-версию</h3>
                <p>
                    Заполните, пожалуйста, форму, и мы вам вышлем
                    <br />
                    демо-курс обратным письмом
                </p>
            </div>
            <form method='POST'>
                <input type='hidden' name='form_subject' value='Демо-версия' />
                <input type='hidden' name='Демо курс' class='demo_input' value='' />
                <div class='form_group'>
                    <input type='text' class='form_input' name='Компания' required='' placeholder='Компания' />
                    <i class='zmdi zmdi-info'></i>
                    <span>Введите название Компании</span>
                </div>
                <div class='form_group'>
                    <input type='text' class='form_input' name='Имя' required='' placeholder='Имя Фамилия' />
                    <i class='zmdi zmdi-account'></i>
                    <span>Введите Имя и Фамилию</span>
                </div>
                <div class='form_group'>
                    <input type='email' class='form_input' name='E-mail' required='' placeholder='E-mail' />
                    <i class='zmdi zmdi-email'></i>
                    <span>Введите Email</span>
                </div>
                <div class='form_group'>
                    <input type='tel' class='form_input' name='Телефон' required='' placeholder='Телефон' />
                    <i class='zmdi zmdi-phone'></i>
                    <span>Введите телефон</span>
                </div>
                <button class='btn_st btn_st_form'>отправить</button>
            </form>
        </div>
    </div>
</div>